.vast-shadow-regular {
  font-family: "Vast Shadow", serif;
  font-weight: 400;
  font-style: normal;
}

.literata {
  font-family: "Literata", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}
.amarante-regular {
  font-family: "Amarante", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #c1f7f4;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
    url(../images/pexels-david-rico-scottishcastle.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 260px 0;
}

header h1 {
  font-weight: 700;
  font-size: 75px;
  line-height: 1.5;
  letter-spacing: 3px;
}
header h2 {
  font-weight: 500;
  font-size: 52px;
  line-height: 2;
  margin: 0;
}
header h3 {
  margin: 0;
  line-height: 2;
  opacity: 0.9;
}
header a {
  font-weight: 500;
  font-size: 14px;
  background: white;
  border: black;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  color: black;
  padding: 20px 20px;
}

h1 {
  font-family: "Amarante", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 64px;
}
h2 {
  font-family: "Abril Fatface", serif;
  font-size: 24px;
}

p {
  font-size: 18px;
}
main {
  background-color: #dff7f6;
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}
section.secondary {
  background-color: #b6cfcd;
}
main h3 {
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
}
main p {
  font-family: "Literata", serif;
  font-size: 16px;
  line-height: 1.5;
}
.section-1-img {
  max-width: 450px;
  margin-left: 75px;
}
.img-responsive {
  width: 100%;
  display: block;
}
.text-center {
  text-align: center;
}

footer {
  font-family: "Literata", serif;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/pexels-miroalt-scotland2.jpg);
  border-radius: 5px;
  padding: 100px 0;
  margin: auto 0;
  background-repeat: no-repeat;
  background-size: cover;
  text-decoration: none;
}
footer ul {
  margin: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer h3 {
  font-family: "Abril Fatface", serif;
  font-size: 20px;
  font-weight: 900;
  line-height: 1.5;
}
footer a {
  color: white;
  font-size: 14px;
}
footer p {
  font-size: 14px;
  color: white;
}
.grid {
  display: grid;
  grid-gap: 25px;
}
.grid-two-columns {
  grid-template-columns: 1fr 1fr;
}
.grid-three-columns {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-three-columns-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
  margin-left: 45px;
}
.embed {
  width: 100%;
  aspect-ratio: 1 / 1;
}
.card {
  background-color: white;
}
.card-header.grid {
  grid-gap: 0;
}
.card h4,
h5 {
  font-family: "Abril Fatface", serif;
  font-size: 18px;
  font-weight: bolder;
}
.card p {
  font-family: "Literata", serif;
  font-size: 15px;
}
.card-body {
  padding: 30px;
}
.card-footer {
  padding: 10px 10px 10px;
}
.btn {
  display: block;
  color: white;
  background-color: #0a8078;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  padding: 16px;
  text-decoration: none;
  text-transform: uppercase;
}
@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 36px;
  }
  header h2 {
    font-size: 26px;
    line-height: 1.5;
  }

  .grid {
    grid-template-columns: 1fr;
  }
  .section-1-img {
    max-width: 250px;
    margin-left: 30px;
    padding-top: 0;
  }
  main h3 {
    font-size: 15px;
    text-align: center;
  }
  main p {
    font-size: 16px;
    padding: 20px;
  }
  section {
    padding: 30px;
  }
  .card-header img {
    display: none;
  }

  .embed {
    aspect-ratio: 16 / 9;
  }
}
